<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App: projects</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
</head>
<body>
<!--/*@thymesVar id="project" type="eu.kijora.todoapp.model.dto.ProjectWriteModel"*/-->
<main>
    <form action="#" method="post" th:action="@{/projects}" th:object="${project}">
        <!-- @ is only for URLs and $ for others-->
        <fieldset>
            <legend>New project</legend>
            <label>Description
                <input type="text" th:field="*{description}"/>
            </label>
            <fieldset>
                <legend>Step 1</legend>
                <label>Description
                    <input type="text" th:field="*{steps[0].description}"/>
                </label>
                <label>Days until the end of the project
                    <input type="text" th:field="*{steps[0].daysToDeadline}"/>
                </label>
            </fieldset>

        </fieldset>
    </form>
</main>

</body>
</html>